.header {
  padding: 0;
  overflow: auto;
  position: fixed;
  left: var(--sidebarWidth);
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.header-wrapper {
  width: 100%;
  text-align: center;
  font-size: 24px;
  background-color: var(bgHighlight);
  .upgrade {
    button {
      font-size: 14px;
      padding: 7px 15px;
      border-radius: 20px;
      font-weight: 600;
      color: #fff;
      background-color: inherit;
      border: 1px solid #727272;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        transform: translate(1px, 1px);
        border: 1px solid #b3a9a9;
      }
    }
  }
}
.header-scroll {
  background-color: var(--bgBase);
}
.dropdown {
  background-color: #282828;
}
.dropdown {
  max-width: 350px;
  min-width: 205px;
}
.item-dropdown {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 4px 12px;
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.9) !important;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
  background-color: inherit;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    color: #fff !important;
    text-decoration: none !important;
  }
}
.link-icon {
  position: absolute;
  right: 0;
  font-size: 16px;
}

// log out

.btn-logout {
  background: inherit;
  font-size: 14px;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 0.9) !important;
  border: none;
  outline: none;
  padding: 9px 16px;
  width: 100%;
  text-align: start;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    color: #fff;
  }
}
.language-wrapper {
  .language {
    width: 120px;
  }
}
